p{
    text-align: center;
}

div{
    margin-top: 2%;
    text-align: center;
}

.cadre{
    border: 1px solid;
    width: 60%;
}

div{
    border: 1px solid;
    width: 30%;
}

div img{
    position: relative;
    width: 10%;
    height: 10%;
    top: 5px;
}

input{
    margin: 2%;
}

textarea{
    margin-top: 20px ;
}

p input{
    margin-top: 2%;
}

.titre{
    border: 0px;
}

.titre p{
    color: rgb(200, 200, 200);
    font-size: x-large;
    margin-bottom: 5px;
}