*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: ;
}

body header{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    margin: 0 auto;
    width: 100%;
}

header{
    background-color: rgb(220, 220, 220);
    margin-bottom: 50px;
    display: flex;
}

header li{
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: rgb(200, 200, 200);
    margin: 10px;
    border-radius: 10%;
}

.sub-menu{
    display: none;
    position: absolute;
    background-color: rgb(220, 220, 220);
    width: 180px;
}

header li a{
    display: block;
    padding: 10px;
}

header li:hover{
    background-color: white;
    color: black;
}

header li:hover .sub-menu{
    display: inline-block;
    z-index: 1;
    padding-inline-start: 0px;
}

header ul li a{
    display: flex;
    align-items: center;
}

.sub-menu li{
    display: block;
    background-color: white;
    border-radius: 0;
    margin: 0;
}

.sub-menu li:hover a{
    background-color: rgb(200, 200, 200);
}

header li img{
    width: 25px;
    height: 25px;
}

.logo{
    margin: 10px;
    width: 170px;
    height: 50px;
}

footer{
    border-top: 1px solid white;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    background-color: rgb(220, 220, 220);
    display: flex;
    position: sticky;
    top: 100%;
}


.lien{
    display: flex;
    flex-direction: column;
}

.lien a {
    color:black;
    text-align: left;
}

.lien a:hover{
    color: white;
}


footer .linkedin{
    display: flex;
    flex-direction: row;
}

footer .linkedin a{
    display: flex;
    align-items: center;
    padding-left: 100px;
}

footer img{
    width: 50px;
    height: 50px;
}


