dl{
    border: solid 1px white;
    border-radius: 5%;
    background-color: rgb(220,220,220);
    margin-bottom: 2%;
    width: 50%;
}

.titre{
    font-size: large;
    text-align: center;
    margin-bottom: 2%;
}

dl dt{
    margin: 5%;
}

dl dt dd{
    margin: 5%;
}