body{
    font-family: 'noto sans', sans-serif;
}

h1{
    font-size: x-large;
    color: rgb(200,200,200);
    text-align: center;
    margin-bottom: 30px;
}

.thematique{
    border: solid 1px;
    padding: 20px;
    background-color: rgb(220,220,220);
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
}

.axe1{
    border: solid 1px;
    padding: 20px;
    background-color: rgb(220,220,220);
    width: 30%;
}

.axe2{
    border: solid 1px;
    padding: 20px;
    background-color: rgb(220,220,220);
    width: 30%;
}

.axe{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

dt{
    text-align: center;
}